<app-default-login
  title="Cadastre-se e começe a usar agora!"
  primaryBtnText = "Cadastre-se Agora"
  secondaryBtnText = "Entrar Agora"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!singupForm.valid"
>
  <form [formGroup]="singupForm">
    <app-input-primary
      formControlName="name"
      inputName="name"
      type="text"
      label="Seu Nome"
      placeholder="Bertano da Silva">

      <img src="/assets/svg/iconName.svg" alt="">
    </app-input-primary>

    <app-input-primary
      formControlName="telephone"
      inputName="telephone"
      type="number"
      label="Seu Telefone"
      placeholder="(00) 000000000">

      <img src="/assets/svg/iconTelephone.svg" alt="">
    </app-input-primary>

    <app-input-primary
      formControlName="email"
      inputName="email"
      type="email"
      label="Seu Email"
      placeholder="jhon@email.com">

      <img src="/assets/svg/iconEmail.svg" alt="">
    </app-input-primary>

    <app-input-primary
      formControlName="password"
      inputName="password"
      type="password"
      label="Sua Senha"
      placeholder="******">

      <img src="/assets/svg/iconPassword.svg" alt="">
    </app-input-primary>
  </form>
</app-default-login>
