<main>
  <section class="form-section" #formSection>
    <img src="/assets/svg/logoLetraAzul.svg" alt=""/>
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="scroll-arrow scroll-arrow-down" (click)="scrollDown()">
      ▼
    </div>
    <div class="scroll-arrow scroll-arrow-up" (click)="scrollUp()">
      ▲
    </div>
    <div class="btn-wrapper">
      <button
        class="btn-primary"
        [disabled]="disablePrimaryBtn"
        (click)="submit()">
        <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-white" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span *ngIf="!isLoading">{{ primaryBtnText }}</span>
        <span *ngIf="isLoading">{{ primaryBtnText }}</span>
      </button>
      <div class="divider">
        <div></div>
        <span>ou</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Com o <span style="color: #3A4976;">My Corte,</span></h1>
    <h5>seu cabelo sempre
      <span style="color: #3A4976;">em dia</span>
      , no <span style="color: #3A4976;">horário certo</span>
      , sem dor de cabeça <span style="color: #3A4976;">
      nem agonia!</span>
    </h5>
    <img src="/assets/svg/fundoLogin2.svg" alt=""/>
  </section>
</main>
