.layout {
  .large-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;

    .divider {
      background-color: rgb(255, 255, 255);
      margin: 10px 0px 10px 0px;
      width: 2px;
    }

    button {
      margin: 10px;
      border-radius: 5px;
      border: none;

      .icon-spacing {
        margin-right: 8px; /* Ajuste este valor conforme necessário */
      }

      &.btn-primary {
        background-color: rgba(104, 104, 214, 0.748);
      }

      &.btn-secondary {
        background-color: rgba(197, 92, 92, 0.74);
      }
    }
  }

  nz-header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Garantir que o header fique acima dos outros elementos */
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-content {
    padding: 0 50px;
    margin-top: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
  }

  nz-footer {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .ant-layout {
    height: 64px;
  }

  .ant-layout-header {
    border-bottom: 1px solid gray;
  }

  .ant-layout-sider-has-trigger {
    border-bottom: 1px solid gray;
  }

  .ant-menu-inline {
    margin-top: 64px;
    height: 100vh;

    li {
      border-bottom: 1px gray solid;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;

      .divider-mobile {
        div {
          height: 2px;
          background-color: gray;
          margin: 0px 10px 0px 10px;
        }
      }

      button {
        margin: 10px;
        border-radius: 5px;
        border: none;

        .icon-spacing {
          margin-right: 8px; /* Ajuste este valor conforme necessário */
        }

        &.btn-primary {
          background-color: rgba(104, 104, 214, 0.748);
        }

        &.btn-secondary {
          background-color: rgba(197, 92, 92, 0.74);
        }
      }
    }

    .powered-by {
      display: flex;
      flex-direction: row;
    }
  }

  .logo-centered {
    width: 100%;
    height: 100%;

    img {
      width: 90%;
      height: 90%;
    }
  }

  nz-sider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000; /* Garantir que o sidebar fique acima dos outros elementos */
  }
}
